<article class="color detailed">
    <h1>THIS IS OUR CANVAS</h1>

    <img src={{@color.img}} alt='name of color'>

    <div class="details">
        <h3>text {{@color.name}}</h3>
        <div class="detail backgroundColor">
            <span>backgroundColor:</span> {{@color.backgroundColor}}
        </div>
        <div class="detail height">
            <span>height:</span> {{@color.height}}
        </div>
        <div class="detail width">
            <span>width:</span> {{@color.width}}
        </div>
        <div class="detail fontSize">
            <span>fontSize:</span> {{@color.fontSize}}
        </div>
        <div class="detail textColor">
            <span>textColor:</span>{{@color.textColor}}
        </div>
    </div>

</article>
