<article class='colorDetails px-4 py-6'>
    <h1>Single Color</h1>
        <div class='color name'>
            <span>name:</span>{{color.name}}
        </div>
        <div class='color text'>
            <span>text:</span>{{color.text}}
        </div>
        <div class='color backgroundColor'>
            <span>backgroundColor:</span>{{color.backgroundColor}}
        </div>
        <div class='color height'>
            <span>height:</span>{{color.height}}
        </div>
        <div class='color width'>
            <span>width:</span>{{color.width}}
        </div>
        <div class='color fontSize'>
            <span>fontSize:</span>{{color.fontSize}}
        </div>
        <div class='color textColor'>
            <span>textColor:</span>{{color.textColor}}
        </div>
        <div class='color image'>
            <span>Add image tag</span>
        </div>
</article>