<article class="color detailed px-4">
    <div>
        <h1 class="{{@color.textColor}} {{@color.fontSize}}">Canvas {{@color.name}}</h1>
        <div class="border-indigo-600 border-8 {{@color.backgroundColor}}">
            <img class="{{@color.height}} {{@color.weight}}" src={{@color.img}} alt='name of color'>
        </div>
    </div>
</article>